/* Add your profile image here */
.Photo {
    background-image: url("https://i.postimg.cc/6pKwMhZP/IMG-20220109-112442.jpg");
  }
  /* Projects Photo */
  .project1 {
    background-image: url("https://i.postimg.cc/T1Yc3nM3/Screenshot-137.png");
    cursor: none;
  }
  .project2 {
    background-image: url("https://i.postimg.cc/P5S13g1P/Screenshot-136.png");
    cursor: none;
  }
  .project3 {
    background-image: url("https://i.postimg.cc/P5S13g1P/Screenshot-136.png");
    cursor: none;
  }
  .project4 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Project+four");
    cursor: none;
  }
  .project5 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Project+five");
    cursor: none;
  }
  .project6 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Project+six");
    cursor: none;
  }
  /* Miscelaneous Activities photo */
  .misc1 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+one");
    cursor: none;
  }
  .misc2 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+two");
    cursor: none;
  }
  .misc3 {
    background-image: url("https://via.placeholder.com/400x600.png?text=Miscellaneous+three");
    cursor: none;
  }
  